In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt

# Import API key
from project_one_api import mlb_api_key
from project_one_api import nfl_api_key
from project_one_api import nhl_api_key

# File to Load
payroll_file = "2015_mlb_payroll.csv"

# Read Purchasing File and store into Pandas data frame
payroll_data = pd.read_csv(payroll_file, encoding="utf-8")

payroll_data['2015 Payroll'] = payroll_data['2015 Payroll'].str.replace(',', '')
payroll_data['2015 Payroll'] = payroll_data['2015 Payroll'].str.replace('$', '')

# Convert columns from string to float
columns_to_convert = ['2015 Payroll']

for column in columns_to_convert:
    payroll_data[column] = payroll_data[column].astype(float)
    
payroll_data.head()

      Team  2015 Payroll
0  Dodgers   272789040.0
1  Yankees   219282196.0
2  Red Sox   187407202.0
3   Tigers   173813750.0
4   Giants   172672111.0

In [17]:
# Create MLB wins DataFrame
mlb_pd = pd.DataFrame({"Team": [""], "Win Pct": [""], "Payroll": [""],
                             "Year": [""]})

In [18]:
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018]

mlb_all_data = []

# For loop to process and pull all city temperature data
#"https://api.sportradar.us/mlb-t6/seasontd/2014/REG/standings.xml?api_key={your_api_key}"
for year in years:
# try:
    mlb_query_url = f"https://api.sportradar.us/mlb-t6/seasontd/{year}/REG/standings.json?api_key={mlb_api_key}"
    #query_url = f"{url}&appid={api_key}&q={city}&units={units}"

    mlb_standings_response = requests.get(mlb_query_url)
    time.sleep(2)
    mlb_standings = mlb_standings_response.json()
    mlb_all_data.append(mlb_standings)
    
#team_names = []
#win_ratio = []

for z in range(0,len(mlb_standings['league']['season']['leagues'])):
   #loop through division
   for y in range(0,len(mlb_standings['league']['season']['leagues'][z]['divisions'])):
       #loop through each team
       for x in range(0,len(mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'])):
           
        team_name = mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'][x]['name']
        win_pct = mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'][x]['win_p']

        
        # Append into a DataFrame
        mlb_pd = mlb_pd.append({'Team' : team_name, 'Win Pct': win_pct}, ignore_index = True)

        
# except NameError:
#     print("Continuing with the code...")

In [19]:
# # Export to csv
# city_data_pd.to_csv(output_data_file)

# # Drop empty row and all NaN's
# city_data_pd = city_data_pd.dropna(how='all')
# city_data_pd = city_data_pd.drop([0])

# # Preview DataFrame
# city_data_pd.head()

In [20]:
# Drop empty row and all NaN's
mlb_pd = mlb_pd.dropna(how='all')
mlb_pd = mlb_pd.drop([0])

mlb_pd.head()

           Team Win Pct Payroll Year
1       Dodgers   0.564     NaN  NaN
2       Rockies   0.558     NaN  NaN
3  Diamondbacks   0.506     NaN  NaN
4        Giants   0.451     NaN  NaN
5        Padres   0.407     NaN  NaN

In [21]:
merged_pd = pd.merge(mlb_pd, payroll_data, on = "Team")

merged_pd.head()

           Team Win Pct Payroll Year  2015 Payroll
0       Dodgers   0.564     NaN  NaN   272789040.0
1       Rockies   0.558     NaN  NaN   102006130.0
2  Diamondbacks   0.506     NaN  NaN    91518833.0
3        Giants   0.451     NaN  NaN   172672111.0
4        Padres   0.407     NaN  NaN   100675896.0

In [22]:
# NFL data pull

years = [2012, 2013, 2014, 2015, 2016, 2017, 2018]

nfl_all_data = []

# For loop to process and pull all city temperature data
#https://api.sportradar.us/nfl/official/{access_level}/{version}/{language_code}/seasons/{year}/standings.{format}?api_key={your_api_key}
for year in years:
# try:
    nfl_query_url = f"https://api.sportradar.us/nfl/official/trial/v5/en/seasons/{year}/standings.json?api_key={nfl_api_key}"

    nfl_standings_response = requests.get(nfl_query_url)
    time.sleep(2)
    nfl_standings = nfl_standings_response.json()
    nfl_all_data.append(nfl_standings)
    
#team_names = []
#win_ratio = []

# for z in range(0,len(mlb_standings['league']['season']['leagues'])):
#    #loop through division
#    for y in range(0,len(mlb_standings['league']['season']['leagues'][z]['divisions'])):
#        #loop through each team
#        for x in range(0,len(mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'])):
           
#         team_name = mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'][x]['name']
#         win_pct = mlb_standings['league']['season']['leagues'][z]['divisions'][y]['teams'][x]['win_p']

        
#         # Append into a DataFrame
#         mlb_pd = mlb_pd.append({'Team' : team_name, 'Win Pct': win_pct}, ignore_index = True)